/* prhStyle.css

version 1.9.2.3.2

Change log
    changed the following in the "a" reset:
        changed link reset from #0b4085 to #4c7aa9
        removed -webkit-text-fill-color
        removed text-decoration: none
    changed the following value for ".smallcaps":
        changed font-size from .85em to .7em

version 1.9.2.3.1

Change log
    added the following classes based on Spec-Prod 11/25 meeting:
    "page_break_before_after"
    "div.sink_25"
    "div.sink_25_header"

version 1.9.2.3

Change log
    removed margin top and bottom from ".offset" and @media ".offset" since these values should be inherited from print or fixed-box div

version 1.9.2.2

Change log (changes made for EP Sprint T)
    added ".custom_list .custom_list" to reset margin top and margin bottom on nested custom lists to 0
    added "li.list-margin-left-0" to reset margin-left on nested HTML lists to 0
    added "list0_nonindent" and "list0_indent" up to "list2" for margin-left handling of hanging and non-hanging paragraph lists

version 1.9.2.1

Change log (changes made for EP Sprint S)
    added "div.footnote ul/ol li"
    changed "fixed-box-center" from 10% to 20%
    change "fixed-box-right" from 32% to 52%
    added "fixed-box-left"
    changed "offset" by removing margin-left and margin-right since this is now inherited from print or fixed-box div

version 1.9.1

Change log (changes made for EP Sprint R, new RHML footnote/endnote tags):
    added "p.list0_con"
    added "p.list0_ext"
    added "p.list0_hang"
    changed "p.footnote"
    added "p.footnote_con"
    added "p.footnote_ext"
    added "p.footnote_hang"

version 1.9.0

Change log (changes made for Phase 4 spec update):
    added "page-break-after:avoid" to the h1,h2,h3,h4,h5,h6 reset
    added "aside" and "cite" to the main "reset" section
    added "blockquote" to the "display:block" reset
    added "aside.textbox" to "textbox" section
    added static CSS class ".offset" to a new "offset" section
    added "p.nospaceabove" to "create space above paragraph" section
        (this was added as a class AeP can leverage when a para-paft falls after a section break ornament)
    removed "blockquote" section entirely. "offset" should be used instead
    removed "allow line break for long words" section including the commented out ".wrappable" class
*/

/* --------------- reset ---------------  */

div,span,blockquote,figure,figcaption,aside,cite {margin:0;padding:0;outline:0;line-height:inherit;text-indent:0;}
blockquote,figure,figcaption,aside{
    display:block; /* include this explicit CSS property for older reading systems like Nook */
}
cite{font-style:inherit;}
h1,h2,h3,h4,h5,h6 {text-align:center;margin:1em 0 1em 0;font-weight:normal;line-height:inherit;page-break-after:avoid;}
h1 {font-size:1.75em;}
h2 {font-size:1.5em;}
h3 {font-size:1.2em;}
h4 {font-size:1.0em;}
h5 {font-size:1.0em;}
h6 {font-size:1.0em;}
em,i {font-style:italic;}
strong,b {font-weight:bold;}
sup,.superscript {font-size:0.7em;vertical-align:super;line-height:0;}
sub,.subscript {font-size:0.7em;vertical-align:sub;line-height:0;}
img {
	max-height:100%;
	max-width:100%;
	margin:0;
	padding:0;
	border:0;
	vertical-align:sub; /* removes descender gap beneath images */
}
a {
	color:#4c7aa9;
}
hr {
	border-style:solid;
	border-width:1px;
	border-bottom-width:0;
	border-radius:2px;
	margin:1.8em 0 1.8em 0;
}
body {
	font-size:1em;
	line-height:1.2;
	margin: 0 2% 0 2%;
	padding:0;
	border:0;
  	outline:0;
	font-family:Georgia, Palatino, Baskerville, "Times New Roman", serif;
}
ol,ul,li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
/* default padding-left for all lists due to Amazon's automatic margin-left application */
ol,ul{padding-left:1.75em;}

/* --------------- hyphenation suppression ---------------  */

/*added 7.7.2015 to prevent iBooks error when auto-hyphenation is turned off.*/
h1, h2{
    -webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-epub-hyphens: auto;
}
/*h1, h2, h3, h4, h5, h6 {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    adobe-text-layout: optimizeSpeed;
}
MCS: commented-out 6.4.2015 to prevent headers from running off the screen at large font sizes.
*/


/* --------------- system font classes ---------------  */

.serif     {font-family:Georgia, Palatino, Baskerville, "Times New Roman", serif;}
.sans      {font-family:Helvetica, HelveticaNeue, "Helvetica Neue LT", Verdana, Futura, sans-serif;}
.monospace {font-family:Courier, monospace;}

/* --------------- core paragraph styles ---------------  */

p {
    text-indent:0;
    text-align:justify;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0.2em;
    padding:0;
    outline:0;
    line-height:inherit;
}
p.indent {
    text-indent:1em;
}

/* --------------- text dingbats --------------- */

.dingbat {
	margin: 1em 0 1em 0;
	text-align:center;
}

/* ---------------- section breaks -------------- */
hr.transition{
	display:block;
	border:none;
	margin:0;
}
div.transition{
    margin:1em 0;
    text-align:center;
}

/* ---------------  dynamic box & fixed box ---------------  */

.dynamic_box {
	display: inline-block;
	text-align:left;
}

.fixed-box-center {
	margin-left:20%;
	margin-right:20%;
}

.fixed-box-right {
	margin-left:52%;
}

.fixed-box-left {
	margin-right:52%;
}

/* --------------- offsets --------------- */

/* LLS: added to replace the CSS properties associated with the blockquote tag (v1.9.0) */
.offset{
    /* margin-top:1em;
    margin-bottom:1em;
    margin-left:8%;
    margin-right:8%; */
}

/* ---------------  create space above paragraph ---------------  */

p.spaceabove, div.spaceabove, li.spaceabove {
    margin-top:1em;
}
p.morespaceabove, div.morespaceabove, li.morespaceabove {
    margin-top:2.5em;
}
/* LLS: used by AeP for para-paft margin-top reset when it falls after a section break oranment (v1.9.0) */
p.nospaceabove{
    margin-top:0em;
}
.page_top_padding {
	margin-top:10%;
}
.section_break {
	margin:1em 0 1em 0;
	text-align:center;
}
div.sink_25 {
  margin-top: 25%;
}
div.sink_25_header {
  margin-top: 25%;
  margin-bottom: 1em;
}

/* --------------- create space to the left of the paragraph --------------- */

p.spaceleft, div.spaceleft{
    margin-left:1em;
}

/* --------------- page breaks --------------- */

.page_break_before {
	page-break-before:always;
}
.page_break_after {
	page-break-after:always;
}
.page_break_before_after {
  page-break-before:always;
  page-break-after:always;
}

/* --------------- hanging indents --------------- */

p.hanging {
	text-indent:-2em;
}
p.hanging0 {
	margin-left:2em;
    text-indent:-2em;
}
p.hanging1 {
    margin-left:3em;
    text-indent:-2em;
}
p.hanging2 {
    margin-left:4em;
    text-indent:-2em;
}
p.hanging3 {
    margin-left:5em;
    text-indent:-2em;
}
p.hanging4 {
	margin-left:6em;
	text-indent:-2em;
}
p.hanging5 {
	margin-left:7em;
	text-indent:-2em;
}
p.hanging6 {
	margin-left:8em;
	text-indent:-2em;
}
.hanging0,
.hanging1,
.hanging2,
.hanging3,
.hanging4,
.hanging5,
.hanging6 {
	text-align:left;
}


/* --------------- non-unicode fractions --------------- */

sup.numerator {
	font-size:0.7em;
	vertical-align:super;
	line-height:0;
}
span.denominator {
	font-size:0.7em;
}

/* --------------- paragraph lists --------------- */
.custom_list {
    margin-top:1em;
    margin-bottom:1em;
}
/* LLS: 3/20/2019 added for multi level lists */
.custom_list .custom_list {
    margin-top:0em;
    margin-bottom:0em;
}
.custom_list > p {
    margin-bottom: 0.2em;
	/*margin-top:0.5em;*/
	text-align:left;
}
span.list_ornament {
    display:inline-block;
    margin:0 0.25em 0 0;
    text-align:right;
}
p.list_ul {
    text-indent:-1.25em;
    margin-left:1.25em;
}
p.list_ul.center {
	text-indent:0;
	margin-left:0;
}
p.list_ul span.list_ornament {
    width:1em;
}
p.list0 {
    text-indent:-2.25em;
    margin-left:2.25em;
}
p.list0 span.list_ornament {
    width:2em;
}
/* LLS: 1/17/2019 for new endnote RHML tags in Easypress mapped via RHML-CSS spreadsheet */
p.list0_con{
    margin-left:2.25em;
    margin-top:0.2em;
}
p.list0_ext{
    margin-left:3.25em;
    margin-right:1em;
    margin-top:0.2em;
}
p.list0_hang{
    margin-left:3.25em;
    text-indent:-1em;
    margin-top:0.2em;
}

p.list1 {
    text-indent:-3.25em;
    margin-left:3.25em;
}
p.list1 span.list_ornament {
    width:3em;
}
p.list2 {
    text-indent:-4.25em;
    margin-left:4.25em;
}
p.list2 span.list_ornament {
    width:4em;
}
p.list3 {
    text-indent:-5.25em;
    margin-left:5.25em;
}
p.list3 span.list_ornament {
    width:5em;
}
p.list_nonindent {
    margin-top: 0.2em;
	text-indent:0em;
}
p.list_indent {
    margin-top: 0.2em;
	text-indent:1em;
}

/* LLS: 4/11/2019 For the Easypress RHML-CSS spreadsheet */
p.list0_nonindent {
    margin-left: 2.25em;
	text-indent:0em;
}
p.list0_indent {
    margin-left: 2.25em;
	text-indent:1em;
}
p.list1_nonindent {
    margin-left: 3.25em;
	text-indent:0em;
}
p.list1_indent {
    margin-left: 3.25em;
	text-indent:1em;
}
p.list2_nonindent {
    margin-left: 4.25em;
	text-indent:0em;
}
p.list2_indent {
    margin-left: 4.25em;
	text-indent:1em;
}
/* ----- End ----- */

.center > span.list_ornament {
	text-indent:0;
	margin:0;
	width:auto;
	display:inline;
}
.center.list0 {
	margin-left:0;
	text-indent:0;
}

/* --------------- html lists --------------- */
ol.list-center,ul.list-center{padding-left:0;} /* reset for a text-align center list */
.list-run-in {list-style-position:inside;}
li.list-decimal{list-style-type:decimal;}
li.list-decimal p{margin:0;font-size:1em;}
li.list-decimal-leading{list-style-type:decimal-leading-zero;}
li.list-decimal-leading p{margin:0;font-size:1em;}
li.list-lower-alpha{list-style-type:lower-alpha;}
li.list-lower-alpha p{margin:0;font-size:1em;}
li.list-upper-alpha{list-style-type:upper-alpha;}
li.list-upper-alpha p{margin:0;font-size:1em;}
li.list-lower-roman{list-style-type:lower-roman;}
li.list-lower-roman p{margin:0;font-size:1em;}
li.list-upper-roman{list-style-type:upper-roman;}
li.list-upper-roman p{margin:0;font-size:1em;}
li.list-disc{list-style-type:disc;}
li.list-disc p{margin:0;font-size:1em;}
li.list-circle{list-style-type:circle;}
li.list-circle p{margin:0;font-size:1em;}
li.list-square{list-style-type:square;}
li.list-square p{margin:0;font-size:1em;}
li.list-none{list-style-type:none;}
li.list-none p{margin:0;font-size:1em;}
li.list-none p.hanging{margin-left:2em;} /* added to account for the text-indent applied via the p.hanging tag */
li.list-margin-left-0{margin-left:0;}/* LLS: 3/20/2019 used on li element for nested lists*/
/* --------------- images --------------- */

img.image{width:100%;}

.figure{
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
    page-break-inside:avoid;
}
.figure_top{
    text-align:center;
    margin-top:1em;
    margin-bottom:0em;
    page-break-inside:avoid;
}
.figure_bottom{
    text-align:center;
    margin-top:0em;
    margin-bottom:1em;
    page-break-inside:avoid;
}
.figure_nomargin{
    text-align:center;
    page-break-inside:avoid;
}

.figheading {
	margin-bottom:0.5em;
}
div.figcaption, figcaption.figcaption {
	text-align:center;
    font-size:0.9em;
}
.figcaption {
    margin-left:5%;
    margin-right:5%;
    margin-top:1em;
}
p.figcaption {
	text-align:center;
	margin-left:0;
	margin-right:0;
}
.figcopyright {
	text-align:left;
	font-size:0.7em;
}
img.inline {
	vertical-align:-.075em;
}
img.baseline {
	vertical-align:baseline;
}

/* --------------- squeeze classes --------------- */

.squeeze {max-width:100%;text-indent:0;}
.squeeze-amzn {display:none;}

/* --------------- dropcaps --------------- */

/* For use with 1.2 paragraph line height */
p.dropcaps2line::first-letter {
    font-size:3.0em;
    line-height:0.70;
    float:left;
	margin:0 0.05em 0 0;
}

p.dropcaps3line::first-letter {
    font-size:4.5em;
    line-height:0.73em;
	float:left;
    margin:0 0.05em 0 0;
}

/* For use with 1.4 paragraph line height */
p.twolinedropcap::first-letter{
	font-size:3.65em;
	line-height:0.7;
	float:left;
	margin:0 0.05em 0 0;
}
p.threelinedropcap::first-letter{
	font-size:5.4em;
	line-height:0.73;
	float:left;
	margin:0 0.05em 0 0;
}

/* dedicated system font cascades for dropcaps */
.serif-dc::first-letter{font-family:Georgia, Palatino, Baskerville, "Times New Roman", serif;}
.sans-dc::first-letter{font-family:Helvetica, HelveticaNeue, "Helvetica Neue LT", Verdana, Futura, sans-serif;}
.monospace-dc::first-letter{font-family:Courier, monospace;}


/* --------------- stickupcaps --------------- */

p.stickupcaps::first-letter {
    line-height:0;
    padding-right:2px;
}
.stickupcaps::first-letter {
    font-size:3.0em;
}

/* --------------- smallcaps --------------- */

span.smallcaps,
span.small-caps {
	font-size:0.7em;
}

/* --------------- character styles --------------- */

.smaller {
    font-size:smaller;
}
.xx-small {
    font-size:xx-small;
}
.x-small {
    font-size:0.7em;
}
.medium {
    font-size:1em;
}
.large {
    font-size:1.2em;
}
.x-large {
    font-size:1.5em;
}
.xx-large {
    font-size:2em;
}
.larger {
    font-size:larger;
}

.underline {
    text-decoration:underline;
}
.overline {
    text-decoration:overline;
}
.strike,
.line-through {
    text-decoration:line-through;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}
.roman {
	font-style:normal;
}

/* --------------- default toc styles --------------- */

div.toc_fm,
div.toc_bm {
    margin:1.2em 0 1.2em 0;
}
.toc_fm,
.toc_bm {
    font-style:italic;
}

div.toc_part {
    margin:1.2em 0 1.2em 3%;
}
div.toc_chap,
div.toc_sub {
    margin-left:3%;
}
p.toc_chap,
p.toc_part,
p.toc_fm,
p.toc_bm,
p.toc_sub {
	text-align:left;
	text-indent:-6%;
	margin-left:6%;
	margin-bottom:0.25em;
}
p.toc_part {
	font-size:1.2em;
	line-height:1.2;
}
p.toc_fm,
p.toc_bm,
p.toc_sub {
	font-size:0.9em;
}


/* --------------- indexes --------------- */

p.primary {
    text-align:left;
    margin-left:5%;
    text-indent:-5%;
}

p.secondary {
    text-align:left;
    margin-left:10%;
    text-indent:-5%;
}
p.tertiary {
    text-align:left;
    margin-left:15%;
    text-indent:-5%;
}
p.quaternary {
    text-align:left;
    margin-left:20%;
    text-indent:-5%;
}
span.indexoffset {
    display:none;
}


/* --------------- footnotes --------------- */

div.footnote{
	margin-top:1em;
	border-top:1px solid;
	padding-top:0.5em;
}
p.footnote {
    font-size:0.9em;
    text-align:left;
    /*padding-left:2%;
    text-indent:-2%;*/
    margin-left:0.5em;
    text-indent:-0.5em;
}
p.footnote.indent {
	text-indent:1em;
}

/* LLS: 1/17/2019 for new footnote RHML tags in Easypress mapped via RHML-CSS spreadsheet */
p.footnote_con{
    font-size:0.9em;
    text-align:left;
    margin-left:0.5em;
}
p.footnote_ext{
    font-size:0.9em;
    text-align:left;
    margin-left:1.5em;
    margin-right:1em;
}
p.footnote_hang{
    font-size:0.9em;
    text-align:left;
    margin-left:1.5em;
    text-indent:-1em;
}

div.footnote ul li, div.footnote ol li{
    font-size:0.9em;
}


/* --------------- poetry --------------- */

.stanza {
	margin-top:1em;
}

p.poetry0 {
    text-align:left;
    margin-left:5%;
    text-indent:-5%;
}

p.poetry1 {
    text-align:left;
    margin-left:10%;
    text-indent:-5%;
}
p.poetry2 {
    text-align:left;
    margin-left:15%;
    text-indent:-5%;
}
p.poetry3 {
    text-align:left;
    margin-left:20%;
    text-indent:-5%;
}
p.poetry4 {
    text-align:left;
    margin-left:25%;
    text-indent:-5%;
}
p.poetry5 {
    text-align:left;
    margin-left:30%;
    text-indent:-5%;
}
p.poetry6 {
    text-align:left;
    margin-left:35%;
    text-indent:-5%;
}
span.poetryoffset {
    display:none;
}

/* --------------- default textbox styles --------------- */

aside.textbox, div.textbox {
    margin-top:2em;
    margin-bottom:2em;
     margin-left:4%;
    margin-right:4%;
    padding:4%;
}
.textbox {
    border:1px solid;
}

/* --------------- list-like photo/illustration credit styles --------------- */

p.credit {
    text-indent: -3.25em;
    margin-left: 3.25em;
    text-align:left;
}
span.credit_number {
    display: inline-block;
    margin: 0 0 0 0;
    text-align: right;
}
/* multiple credit numbers in a row */
span.credit_number_multi {
    display: inline-block;
    text-align: right;
}
p.credit span.credit_number,
p.credit span.credit_number_multi {
    width: 2.25em;
}
span.credit_text {
    padding-left:1em;
}


/* --------------- override classes --------------- */

/*
 * These classes can be combined with
 * other classes to override particular
 * properties. As a result, they should
 * appear near the end of this file.
 */

p.right,
div.right {
    text-align:right;
}
p.left,
div.left {
    text-align:left;
}
p.center,
div.center {
    text-align:center;
    text-indent:0;
}
p.no_break,
div.no_break {
	page-break-before:auto;
}
.small,
p.small,
div.small,
span.small,
blockquote.small{
    font-size:0.9em;
}
blockquote.fullwidth,
div.fullwidth,
p.fullwidth {
	margin-left:0;
	margin-right:0;
}
span.figure_inline img{
    vertical-align:-.075em;
}

/* --------------- kf8 overrides --------------- */

@media amzn-kf8
{
	p.dropcaps2line::first-letter,p.twolinedropcap::first-letter
    {
        font-size:320%;
     	float:left;
     	margin-top:-0.3225em;
     	margin-bottom:-0.3245em;
    }
    p.dropcaps3line::first-letter,p.threelinedropcap::first-letter
    {
        font-size:480%;
     	float:left;
    	margin-top:-0.3225em;
     	margin-bottom:-0.3245em;
    }
}

/* --------------- mobi overrides --------------- */

@media amzn-mobi {
	h1.chapter{font-size:x-large;}
    h1.subchapter{font-size:large;}
	.offset {margin:auto;}
	/* indexes */
	p.primary {margin-left:auto;text-indent:-5%;}
    p.secondary{margin-left:auto;text-indent:-10%;}
    p.tertiary{margin-left:auto;text-indent:-15%;}
    p.quaternary{margin-left:0em;text-indent:-20%;}
    span.indexoffset{display:inline;}
    /* poetry */
    p.poetry0 {margin-left:auto;text-indent:-5%;}
    p.poetry1{margin-left:auto;text-indent:-10%;}
    p.poetry2{margin-left:auto;text-indent:-15%;}
    p.poetry3{margin-left:0em;text-indent:-20%;}
    p.poetry4{margin-left:0em;text-indent:-25%;}
    p.poetry5{margin-left:0em;text-indent:-30%;}
    p.poetry6{margin-left:0em;text-indent:-35%;}
    span.poetryoffset{display:inline;}
    /* hanging indents */
	p.hanging0 {padding:auto;margin:auto;text-indent:-1em;}
	p.hanging1 {padding:auto;margin:auto;text-indent:-2em;}
	p.hanging2 {padding:auto;margin:auto;text-indent:-3em;}
	p.hanging4 {padding:auto;margin:auto;text-indent:-5em;}
	p.hanging5 {padding:auto;margin:auto;text-indent:-6em;}
	p.hanging6 {padding:auto;margin:auto;text-indent:-7em;}
	/* lists */
	p.list0 {margin:auto;text-indent:-2em;}
	p.list1 {margin:auto;text-indent:-2em;}
	p.list2 {margin:auto;text-indent:-2em;}
	p.list3 {margin:auto;text-indent:-2em;}
	/* images */
	.squeeze {width:auto;}
	/*.squeeze-epub {display:none;}*/
	/*.squeeze-amzn {display:inline;}*/
	.mobihide{display:none;}
	p.figcopyright {text-align:center;}
}
